@import-normalize;

body {
  font-family: sans-serif;
  line-height: 1.5;
  background-image:url(https://img.freepik.com/premium-vector/childrens-coloring-black-lines-and-white-background-breakfast-coffee-with-cream-and-croissant-vector_705966-900.jpg);
  background-repeat: no-repeat;
  background-position: 614px -29px;
  


}
 
  

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
